---
BasedOnStyle: Microsoft
IndentWidth: '4'
UseTab: Never

BinPackArguments: false
BinPackParameters: false

AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: false
ExperimentalAutoDetectBinPacking: false
...
